/* Reset css page */
*{
    margin: 0px;
    padding: 0px;
    color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    font-family: Fira Sans;
    text-decoration: none;
}

body{
    background-color: hsl(0, 0%, 0%, 0.8);
}
main{
    min-width: 300px;
}
/* header and menu */
header, nav{
    position: fixed;
    text-align: center;
}

nav {
    font-size: 1rem;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.9);
    text-align: center; 
    font-weight: bolder;
    text-transform: uppercase;
    vertical-align: baseline;
    outline: none;
    padding: 1.5rem;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 100%);
}

nav li {
    display: inline;
    align-content: center;
    box-sizing: border-box;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-right: 1px solid white;
}

nav li a {
    color: hsl(0, 0%, 100%);
    opacity: 100%;
}

nav a:hover, #bt_download:hover{
    background-color: hsl(51, 100%, 49%);
    color: hsl(0, 0%, 0%);
    padding: 0.7rem;
    opacity: 80%;
    border-radius: 5%;
    box-shadow: 0rem 0.2rem 0.3rem hsl(0, 0%, 100%);
}

.cell {
    cursor: pointer;
    display: none;
}

.cell div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.split{
    padding-top: 5rem;
}

section{
    border-bottom: 1px solid hsl(0, 0%, 100%);
    text-align: center;
}

img#logo {
    display: flex;
    height: 30rem;
    width: 30rem;
    border-radius: 20rem;
    border: 3px solid hsl(0, 0%, 100%);
    background: conic-gradient(hsl(44, 100%, 16%) 20deg, transparent 120deg);
}

.home{
    padding-top: 8rem;
    background-image: url(imagens/transferir.jpeg);
    background-repeat: round;
}

#banner {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: left;
    margin: 2em, 2em;
    padding-bottom: 1em;
    padding-top: 2em;
}


#about {
    font-size: 20px;
    box-shadow: 0.1em 0.1em 0.1em hsl(0, 0%, 99%);
    background: conic-gradient(hsl(44, 100%, 16%) 20deg, transparent 120deg);
    border-radius: 0.5em;
    padding: 0.5em;
    flex-wrap: wrap;
    background-color: hsla(0, 0%, 0%,0.8);
}

.organizador{
    margin: 0em 10em 0em;
    padding-bottom: 2em;
    text-align: justify;
    font-size: 1em;
}

.video{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
iframe{
    width: 40rem;
    height: 20rem;
    border-radius: 0.5em;
    border: 3px solid hsl(54, 100%, 39%);
}
h1 {
    text-align: center;
    font-size: 3em;
}
#kaell{
    background-image: url(imagens/transferir.jpeg);
}
#bt_download{
    margin: 1rem 5rem 1rem 5rem;
    font-size: 20px;
    background-color: hsl(54, 100%, 39%);
    color: hsl(0, 0%, 0%);
    padding: 12px;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
}
.sobre_mim{
    background-size: 100%;
    padding: 2rem;
    background-repeat: no-repeat;
}

#skills{
    margin-left: 5em;
    width: 80%;
    font-size: 1em;
    box-shadow: 0.1em 0.1em 0.1em hsl(0, 0%, 99%);
    background: conic-gradient(hsl(43, 100%, 5%) 20deg, transparent 120deg);
    border-radius: 0.5em;
    padding: 2em;
    flex-wrap: wrap;
    background-color: hsla(0, 0%, 0%,0.9);
    text-align: justify;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#skills p{
    padding-left: 0.8em;
}

#skills{
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer ul li{
    position: flex;
    display: inline;
    padding-left: 1rem;
    
} 

footer ul{
    text-align: center;
    padding-bottom: 2em;
}
.icon_footer{
    width: 40px;
    height: 40px;
}
.digitar{
    width: 100%;
    animation: digitar 2s steps(20);
    cursor: .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes digitar {
    from{
        width: 0;
    }
}
@keyframes cursor{
    50%{
        border-color: transparent;
    }
}
